.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.members-list {
  padding: 10px;
  border: 1px solid;
}

.member-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: center;
}

.list-container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.filterBar-container input {
  align-self: stretch;
  justify-self: stretch;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.filterBar-container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.member-item div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 0 1em;
  justify-content: start;
  padding: 5px;
}

.member-item button {
  justify-self: center;
  background-color: indianred;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.bkg-light-blue {
  background-color: #25CDEE;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
